import styles from "./{{pascalCase name}}.module.scss";

type {{pascalCase name}}Props = {}

export default function {{pascalCase name}}({}: {{pascalCase name}}Props) {
  return <div className={styles["container"]} data-testId="{{pascalCase name}}">{{pascalCase name}} Component</div>;
};